<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<h3>All Events</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
  </tr>

   <% @events.each do |e| %>
  <tr>
    <td><%= e.name %></td>
    <td><%= e.date %></td>
  </tr>
  <% end %>

</table>

<a href="/event/new">New Event</a>
<a href="/">Back to Home</a>