<h3>Add a new event</h3>
<form action="/event/new" method="POST">
Name:<br>
<input type="text" name="event[name]">
<br>
Date:<br>
<input type="date" name="event[date]">
<br><br>
<input type="submit" value="Submit" />
</form>