<% if @curuser %>
<% if @curuser.followed_users.find_by(:id=>user.id) %>
<a role="button" id='followship_btn' class="btn btn-info" href="/unfollow/<%=user.name%>">Unfollow</a>
<%else%>
<a role="button" id='followship_btn' class="btn btn-info" href="/follow/<%=user.name%>">Follow</a>
<%end%>
<%end%>
