<%begin %>
<% curuser.followed_users.find(@user.id) %>
<a role="button" class="btn btn-info" href="/unfollow/<%=@user.name%>">Unfollow</a>
<%rescue%>
<a role="button" class="btn btn-info" href="/follow/<%=@user.name%>">Follow</a>
<%end%>