<body>
	<div class="component">
				<table>
					<thead>
						<tr>
							<th>Index</th>
							<th>Follower</th>
						</tr>
					</thead>
					<tbody>
							<% index=1 %>
							<% @user.followers.each do |u| %>
							<tr>
								<th><%= index%></th>
								<td><a href="/user/<%= u.name%>"><%= u.name%></a></td>
							</tr>
							<% index += 1%>
							<% end %>
					</tbody>
				</table>
	</div>
</body>