	<%= yield%>
	<div class="container-fluid" style="height:1000px">

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  	<% tweets.each do |tweet| %>
			<%= erb :show_tweet,:locals=>{:tweet=>tweet} %>

		  <% end %>
		</div>
	</div>

	<script>
	$('.collapse').collapse()
	</script>

	<!--
	<script src="js/jquery.stickyheader.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>-->
