<!doctype html>
<html lang=''>
<body>

	<div class="component">
				<table>
					<thead>
						<tr>
							<th>User</th>
							<th>Tweet</th>
						</tr>
					</thead>
					<tbody>
							<% tweets.each do |tweet| %>
							<tr>
								<td><p><a href="/user/<%= tweet.user.name%>"><%= tweet.user.name%></a></p></td>
								<td><p><%= tweet.text%></p></td>
							</tr>
							<% end %>
					</tbody>
				</table>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
	<script src="js/jquery.stickyheader.js"></script>

</body>
<html>