<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<h3>Welcome to Sinatra Evite!</h3>
<a href="/persons">Persons</a>
<a href="/events">Events</a>
<a href="/registrations">Registrations</a>