<body>
	<header><h1>Log In</h1></header>
	<div class="component">
		<form action="/login" method="POST">
			<fieldset>
				<legend><span class="number">1</span>Your LogIn info</legend>
				<label for="name">Username or Email</label>
				<input type="text" id="name" name="name">
				<label for="password">Password:</label>
				<input type="text" id="password" name="password">
			</fieldset>
			    <input type="submit" value="Submit" />
		</form>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
	<script src="js/jquery.stickyheader.js"></script>
</body>