<head>
	<link rel="shortcut icon" href="../favicon.ico">
   <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
   <link rel="stylesheet" type="text/css" href="/css/demo.css" />
   <link rel="stylesheet" type="text/css" href="/css/component.css" />
   <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="/css/form.css">
</head>

<body>
	<header><h1>Log In</h1></header>
	<div class="component">
		<form action="/register" method="POST">
			<fieldset>
				<legend><span class="number">1</span>Your LogIn info</legend>
				<label for="name">Username or Email</label>
				<input type="text" id="name" name="name">
				<label for="password">Password:</label>
				<input type="text" id="password" name="password">
			</fieldset>
			    <input type="submit" value="Submit" />
		</form>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
	<script src="js/jquery.stickyheader.js"></script>
</body>