<h3>Add a new event</h3>
<form action="/login" method="POST">
<br>Username or Email:<br>
<input type="text" name="name">
<br>Password:<br>
<input type="password" name="password">
<br><br>
<input type="submit" value="Submit" />
</form>