	<div class="container-fluid">
	<header><h1>Log In</h1></header>
		<form action="/login" id="login-form" method="POST">
			<div class="form-group">
				<h2>Your LogIn info</h2>
				<div id="showAlert">
				</div>
				<br>
				<label for="name" class="control-label">Username or Email</label>
				<input type="text" class="form-control" id="name" name="name" required>
				<label for="password" class="control-label">Password:</label>
				<input type="password" class="form-control" id="password" name="password">
			</div>
			    <input type="submit" class="btn btn-info" id='login-submit' value="Submit" />
		</form>
	</div>
	<script>
					$('form#login-form').submit(function(event){
						event.preventDefault();
						$.post('/login', {name:$('#name').val(), password:$('#password').val()}, function(data){
							if (data == "User not found or password is not correct"){
								var div = document.createElement("div");
								div.className = "alert alert-danger";
								var strong = document.createElement("strong");
								strong.innerHTML = data;
								div.appendChild(strong);
								$('#showAlert').append(div);
								} else {
									console.log("submit");
									window.location.replace('/');
								}
						}, "json");
					});
	</script>