  	<div class="modal-body">
	    <form action="/tweet/new" method="POST">
		    <div class="form-group">
			    <label for="text" class="control-label">Tweet:</label>
<<<<<<< HEAD
			    <textarea class="form-control typeahead" data-provide="typeahead" placeholder="What's in your mind?" maxlength="140" id="text" name="text" required></textarea>
=======
			    <textarea class="form-control" maxlength="140" id="text" name="text" placeholder="What's in your mind?" required></textarea>
>>>>>>> origin/master
		    </div>
		    <input type="submit" class="btn btn-info" id="submit" value="New Tweet"/>
		    <span id="charleft"></span>
	    </form>
	</div>

<<<<<<< HEAD
<script>
=======
	<script>
>>>>>>> origin/master
	var charleft = 140;
	$('#charleft').html(charleft);
	$('#submit').prop('disabled', true);

	$('#text').bind('input propertychange', function() {
		charleft = 140 - $(this).val().length;
		if(charleft == 0 || charleft == 140){
			$('#submit').prop('disabled', true);
		}else{
			$('#submit').prop('disabled', false);
		}
		$('#charleft').html(charleft);
	});

<<<<<<< HEAD



	var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];

$('#text.typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1,
  source: function (query,process) {
	var match=/@(\w+)$/g.exec(query);
	if (match) {$.get('/autocomplete?q='+match[1],function( data ) {
	process(data);},"json");
	} else process([]);
  },
  displayText: function(item) {
	return item[1] + " @" + item[0];
  },
  updater: function(item) {
	var str=this.query.replace(/@(\w+)$/g,'@'+item[0]);
	return str;
  },
  matcher: function (item) {
	var match=/@(\w+)$/g.exec(this.query);
	
	return match ? item[0].indexOf(match[1]) === 0 :false;
  }
  
});
  
  </script>
=======
	</script>

<!--
<a href="/events">Events</a>
<a href="/registrations">Registrations</a>
-->
>>>>>>> origin/master
