  	<div class="modal-body">
	    <form action="/tweet/new" method="POST">
		    <div class="form-group">
			    <label for="text" class="control-label">Tweet:</label>
			    <textarea class="form-control" maxlength="140" id="text" name="text" required></textarea>
		    </div>
		    <input type="submit" class="btn btn-info" value="New Tweet"/>
	    </form>
	</div>

<!--
<a href="/events">Events</a>
<a href="/registrations">Registrations</a>
-->