<form action="/tweet/new" method="POST">
<br>Tweet:<br>
<textarea maxlength="140" name="text" ></textarea>
<br>
<input type="submit" value="New Tweet" />
</form>

<!--
<a href="/events">Events</a>
<a href="/registrations">Registrations</a>
-->