<div class="modal-body">
	    <form action="/tweet/new" method="POST">
		    <div class="form-group">
			    <label for="text" class="control-label">Tweet:</label>
			    <textarea class="form-control user-autocomplete" data-provide="typeahead" placeholder="What's in your mind?" maxlength="140" id="text" name="text" required></textarea>
		    </div>
		    <input type="submit" class="btn btn-info" id="submit" value="New Tweet"/>
		    <span id="charleft"></span>
	    </form>

</div>

<script>

	var charleft = 140;
	$('#charleft').html(charleft);
	$('#submit').prop('disabled', true);

	$('#text').bind('input propertychange', function() {
		charleft = 140 - $(this).val().length;
		if(charleft == 140){
			$('#submit').prop('disabled', true);
		}else{
			$('#submit').prop('disabled', false);
		}

    if(charleft <= 5){
      $('#charleft').addClass('text-danger');
    } else {
      $('#charleft').removeClass('text-danger');
    }
		$('#charleft').html(charleft);
	});

	



  
  </script>
