<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<h3>All Persons</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Birthday</th>
	<th>Zipcode</th>
  </tr>

   <% @persons.each do |p| %>
  <tr>
    <td><%= p.name %></td>
    <td><%= p.gender ? 'male' : 'female' %></td>
    <td><%= p.date_of_birth %></td>
    <td><%= p.zipcode %></td>
  </tr>
  <% end %>

</table>

<a href="/person/new">New Person</a>
<a href="/">Back to Home</a>