<h3>Add a person</h3>
<form action="/person/new" method="POST">
Name:<br>
<input type="text" name="person[name]" required>
<br>
Birthday:<br>
<input type="date" name="person[date_of_birth]">
<br>Gender:<br>
<input type="radio" name="person[gender]" value="male" checked> Male
<input type="radio" name="person[gender]" value="female"> Female
<br>Zipcode:<br>
<input type="text" name="person[zipcode]" pattern="\d{5}(-\d{4})?">
<br><br>
<input type="submit" value="Submit" />
</form>