<h3>Add a new event</h3>
<form action="/register" method="POST">
Name:<br>
<input type="text" name="name">
<br>Email:<br>
<input type="text" name="email">
<br>Password:<br>
<input type="password" name="password">
<br><br>
<input type="submit" value="Submit" />
</form>