<h3>New Registration</h3>
<form action="/registration/new" method="POST">
Name:<br>
<select name="reg[person]">
<% @persons.each do |p| %>
  <option value="<%= p.id%>"><%= p.name%></option>
<% end %>
</select>
<br>Event:<br>
<select name="reg[event]">
<% @events.each do |e| %>
  <option value="<%= e.id%>"><%= e.name%></option>
<% end %>
</select>
<br>Status:<br>
<input type="radio" name="reg[status]" value="coming" checked> Coming
<input type="radio" name="reg[status]" value="not coming"> Not Coming
<input type="radio" name="reg[status]" value="maybe"> Maybe
<br><br>
<input type="submit" value="Submit" />
</form>