<div class="container-fluid bg-info">
<header><h1>Register</h1></header>
<form action="/register" method="POST" id="basicBootstrapForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-3 control-label">Username:</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" name="name" placeholder="Name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Full Name:</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="display_name" id="display_name" placeholder="Full Name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Email:</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="email" id="email" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Password: </label>
        <div class="col-xs-5">
            <input type="password" class="form-control" name="password" id="password" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
            <button type="submit" class="btn btn-info" name="register-submit" value="Submit">Submit</button>
        </div>
    </div>
</form>
</div>

<script>
$(document).ready(function() {
    // Generate a simple captcha
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }
    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

    $('#basicBootstrapForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                row: '.col-xs-8',
                validators: {
                    notEmpty: {
                        message: 'The username is required'
                    }
                }
            },
            display_name: {
                validators: {
                    notEmpty: {
                        message: 'The display name is required'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The display name must be more than 6 and less than 30 characters long'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            },
            password: {
                validators: {
                   // notEmpty: {
                  //      message: 'The password is required'
                  //  },
                    different: {
                        field: 'username',
                        message: 'The password cannot be the same as username'
                    }
                }
            }
        }
    });
});
</script>