<div class="container-fluid">
<header><h1>Settings</h1></header>
<div id="img-uploader"></div>
<form action="/settings" method="POST" class="form-horizontal">
    <div class="form-group text-center">
        <img id="profile-pic" src="http://placehold.it/90x90" alt="your image" width="90" height="90"/>
    </div>
    <div class="form-group text-center">
        <div class="file-upload btn btn-success btn-small">
            <span>Upload</span>
        <input type='file' class="upload" onchange="readURL(this);" accept="image/*">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Full Name:</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="display_name" id="display_name" value="<%= @curuser.display_name%>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Biography:</label>
        <div class="col-xs-8">
            <textarea class="form-control" name="bio" ><%= @curuser.bio%></textarea> 
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Email:</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="email" value="<%= html @curuser.email%>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Old Password: </label>
        <div class="col-xs-5">
            <input type="password" class="form-control" name="oldpwd" id="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Password: </label>
        <div class="col-xs-5">
            <input type="password" class="form-control" name="newpwd" id="password" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
            <button type="submit" class="btn btn-info" value="Submit">Submit</button>
        </div>
    </div>
</form>
</div>
<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profile-pic')
                    .attr('src', e.target.result)
                    .width(90)
                    .height(90);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
