	<div class="container-fluid" style="height:1000px">

		<div class="panel-group" id="accordion" role="tablist" <%=@post_url && 'data-post-url="' + @post_url + '"' %> aria-multiselectable="true">
		  	<% tweets.each do |tweet| %>
			<%=(tweet.is_a? String) ? tweet : (erb :show_tweet,:locals=>{:tweet=>tweet}) %>
		  <% end %>
		</div>
	</div>
	<script>
	var cur_tweet_num = 0;
	var hasmore = true;
	var TRIGGER_DISTANCE = 10;

	$(document).ready(function(){
		
			$( window ).scroll(function() {
			if(hasmore) {
				var dist = $(document).height() - $(window).scrollTop() - $(window).height();
				console.log($(document).height());
				console.log($(window).scrollTop() + $(window).height());
				if (dist < TRIGGER_DISTANCE){
				        hasmore = false;
						loadmore($('#accordion').attr('data-post-url'));
				}
			}
			});
		

		function loadmore(url){
			$.post(url, {offset: cur_tweet_num, limit: 50}, function(data){
				if(data.has_more){
				    cur_tweet_num += data.count;
					$('#accordion').append(data.html);
					$('.moment').each(function(i, obj){
						interpretDate(obj);
						
					});
					hasmore=true;
				} else {
					hasmore = false;
				}
			},"json");
		}

		$('.moment').each(function(i, obj){
			interpretDate(obj);
			cur_tweet_num += 1;
		});
	$(".new-reply-btn").on("click",function() {
		var element=$('.descendant-list',$(this).parents('.tweet-panel'))
		$.post('/tweet/'+$( this ).attr( "data-reply-to")+'/comment/new',{comment:$(this).parent().children('textarea').val()},function( data ) {
			element.append(data.html);
			}, "json");
	});
    $(".reply-btn").click(function() {
		var panel=$(this).parents('.tweet-panel');
		if (panel.attr('data-loaded')=='false') {
			$.post($( this ).attr( "href"),function( data ) {
				if (data.ancestors)
					$('.ancestor-list',panel).html(data.ancestors);
				if (data.descendants)
					$('.descendant-list',panel).html(data.descendants);
				$('.collapse',panel).collapse();
			}, "json");
			panel.attr('data-loaded',true);
		} else {
			$('.collapse',panel).collapse("toggle");
		};
		return false;
	});
  	$( document ).on("click",".retweet-btn",function() {
		var element=$(this);
		$.post($( this ).attr( "href"),function( data ) {
			if (data.created)
				element.children(0).css({'color':'green'});
			else
				element.children(0).css({'color':''});
			element.parent().children(".count").text(data.count);
		}, "json");
		return false;
	});
	$( document ).on("click",".fav-btn",function() {
		var element=$(this);
		$.post($( this ).attr( "href"),function( data ) {
			if (data.created)
				element.children(0).css({'color':'yellow'});
			else
				element.children(0).css({'color':''});
			element.parent().children(".count").text(data.count);
		}, "json");
		return false;
	});
	});


	</script>