	<div class="container-fluid" style="height:1000px">

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  	<% tweets.each do |tweet| %>
			<%=(tweet.is_a? String) ? tweet : (erb :show_tweet,:locals=>{:tweet=>tweet}) %>

		  <% end %>
		</div>
	</div>


	<script>

	$(document).ready(function(){
	$(".new-reply-btn").on("click",function() {
		var element=$('.descendant-list',$(this).parents('.tweet-panel'))
		$.post('/tweet/'+$( this ).attr( "data-reply-to")+'/comment/new',{comment:$(this).parent().children('textarea').val()},function( data ) {
			element.append(data.html);
			}, "json");
	});
    $(".reply-btn").click(function() {
		var panel=$(this).parents('.tweet-panel');
		if (panel.attr('data-loaded')=='false') {
			$.post($( this ).attr( "href"),function( data ) {
				if (data.ancestors)
					$('.ancestor-list',panel).html(data.ancestors);
				if (data.descendants)
					$('.descendant-list',panel).html(data.descendants);
				$('.collapse',panel).collapse();
			}, "json");
			panel.attr('data-loaded',true);
		} else {
			$('.collapse',panel).collapse("toggle");
		};
		return false;
	});
  	$( document ).on("click",".retweet-btn",function() {
		var element=$(this);
		$.post($( this ).attr( "href"),function( data ) {
			if (data.created)
				element.children(0).css({'color':'green'});
			else
				element.children(0).css({'color':''});
			element.children(1).text(data.count);
		}, "json");
		return false;
	});
	$( document ).on("click",".fav-btn",function() {
		var element=$(this);
		$.post($( this ).attr( "href"),function( data ) {
			if (data.created)
				element.children(0).css({'color':'yellow'});
			else
				element.children(0).css({'color':''});
			element.children(1).text(data.count);
		}, "json");
		return false;
	});
	});


	</script>